In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/holo.csv')

In [5]:
value = ['Single Carrier', 'Undefined']

df = df[df.plan_type.isin(value) == False ]

In [6]:
var = df['name'].value_counts()

df = df[df['name'].isin(var[var>1].index)]   

df['name'].value_counts()

92001361     17048
92003446     12537
92004422     12092
92001314     11084
92002489      9878
             ...
92021997         2
92016472         2
92009256         2
92012989         2
92005391*        2
Name: name, Length: 3707, dtype: int64

In [7]:
serial_numbers = df['name'].value_counts()

sn_size = serial_numbers.size

count=0

one_carrier_list = []

for _ in range(sn_size):
    controller_serial_number =  serial_numbers.keys()[_]
    
    Sdf = df.loc[df['name'].isin([controller_serial_number])]
    value = Sdf['network_name'].value_counts()
    value_size = value.size

    if value_size == 1:
        one_carrier_list.append(controller_serial_number)
        df = df[~((df['name'] == controller_serial_number))]
    else:
        count+=1

In [8]:
df['timestamp'] = df['timestamp'].apply(pd.to_datetime)

df['timestamp'] = df['timestamp'].dt.date

df = df.drop(['session_begin', 'imei', 'sim'], axis = 1)

groupby_name_timestamp = df.groupby(['name','timestamp'], as_index=False)['network_name'].agg(['value_counts'])

In [10]:
groupby_name_timestamp.to_csv('data/holo_groupby_name_timestamp.csv')

In [11]:
df = pd.read_csv('data/holo_groupby_name_timestamp.csv')

date = df['timestamp'].value_counts()
date_size = date.size

delete = []
no_delete = []
date_list = []
count = 0

for _ in range(date_size):
    
    current_date = date.keys()[_]
    date_df = df.loc[df['timestamp'].isin([current_date])]

    sn = date_df['name'].value_counts()
    sn_size = sn.size

    for __ in range(sn_size):
        sn_count = sn[__]
        sn_var = sn.keys()[__]

        if sn_count == 1:
            delete.append(sn_var)
            date_list.append(current_date)
            df = df.loc[~((df['name'] == sn_var) & (df['timestamp'] == current_date)),:]
        else:
            no_delete.append(sn_var)
            count+=1

ACA VAMOS A SACAR LA INFORMACION QUE DANIEL QUIERE

In [15]:
sn_list = []

sns = df['name'].value_counts()
sns_size = sns.size

for _ in range(sns_size):
    current_sn = sns.keys()[_]
    sn_list.append(current_sn)

In [18]:
timeline_df = pd.read_csv('data/holo.csv')

In [20]:
timeline_df['timestamp'] = timeline_df['timestamp'].apply(pd.to_datetime)

In [21]:
timeline_df['session_begin'] = timeline_df['session_begin'].apply(pd.to_datetime)

In [26]:
timeline_df = timeline_df[timeline_df['name'].isin(sn_list)]

In [29]:
timeline_df['session_begin'] = timeline_df['session_begin'].dt.date

C:\Users\danie\AppData\Local\Temp\ipykernel_11664\2641405622.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  timeline_df['session_begin'] = timeline_df['session_begin'].dt.date

In [31]:
timeline_df = timeline_df.drop(['timestamp'], axis = 1)

In [32]:
timeline_df

,name,sim,plan_type,imei,session_begin,duration,bytes,network_name
39,92001496,8.944500e+18,Multi Carrier,8.668340e+14,2021-11-25,1,0,"T-Mobile USA, Inc"
80,92001496,8.944500e+18,Multi Carrier,8.668340e+14,2021-11-25,220,0,"T-Mobile USA, Inc"
95,92001496,8.944500e+18,Multi Carrier,8.668340e+14,2021-11-25,134,0,"T-Mobile USA, Inc"
104,92009678,8.944500e+18,Multi Carrier,8.668340e+14,2021-11-25,306,46074,AT&T Mobility
107,92001496,8.944500e+18,Multi Carrier,8.668340e+14,2021-11-25,1,0,"T-Mobile USA, Inc"
...,...,...,...,...,...,...,...,...
1048537,92014334,8.944500e+18,Multi Carrier,8.668340e+14,2022-01-15,25189,789175,AT&T Mobility
1048541,92009149,8.944500e+18,Multi Carrier,8.668340e+14,2022-01-15,25189,1344458,AT&T Mobility
1048553,92010219,8.944500e+18,Multi Carrier,8.668340e+14,2022-01-15,25186,1256793,AT&T Mobility
1048556,92006010,8.944500e+18,Multi Carrier,8.668340e+14,2022-01-15,25186,660722,AT&T Mobility
1048571,92005905,8.944500e+18,Multi Carrier,8.668340e+14,2022-01-15,25187,4704,AT&T Mobility

In [54]:
var = timeline_df['duration'].values
xd = var[1] + var[0]
xd

221

In [ ]:
nets = timeline_df['network_name'].value_counts()
nets_size = nets.size

help_net = []
first_net = timeline_df.iloc[0]
first_net = first_net[-1]
help_net.append(first_net)

duration_list = timeline_df['duration'].values

for _ in range(nets_size):
    curr_net = timeline_df.iloc[_ + 1]
    curr_net = curr_net[-1]

    if curr_net == help_net[-1]:
        sum_duration = duration_list[_] + duration_list[_ - 1]