In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('data/holo.csv')

In [18]:
value = ['Single Carrier', 'Undefined']

df = df[df.plan_type.isin(value) == False ]

In [19]:
var = df['name'].value_counts()

df = df[df['name'].isin(var[var>1].index)]

In [20]:
serial_numbers = df['name'].value_counts()

sn_size = serial_numbers.size

count=0

one_carrier_list = []

for _ in range(sn_size):
    controller_serial_number =  serial_numbers.keys()[_]
    
    Sdf = df.loc[df['name'].isin([controller_serial_number])]
    value = Sdf['network_name'].value_counts()
    value_size = value.size

    if value_size == 1:
        one_carrier_list.append(controller_serial_number)
        df = df[~((df['name'] == controller_serial_number))]
    else:
        count+=1

In [21]:
df = df.drop(['timestamp', 'imei', 'sim'], axis = 1)

df['session_begin'] = df['session_begin'].apply(pd.to_datetime)

df['session_begin_date'] = df['session_begin'].dt.date

groupby_name_timestamp = df.groupby(['name','session_begin_date'], as_index=False)['network_name'].agg(['value_counts'])

In [23]:
df

,name,plan_type,session_begin,duration,bytes,network_name,session_begin_date
39,92001496,Multi Carrier,2021-11-25 00:04:00,1,0,"T-Mobile USA, Inc",2021-11-25
80,92001496,Multi Carrier,2021-11-25 00:05:00,220,0,"T-Mobile USA, Inc",2021-11-25
95,92001496,Multi Carrier,2021-11-25 00:01:00,134,0,"T-Mobile USA, Inc",2021-11-25
104,92009678,Multi Carrier,2021-11-25 00:20:00,306,46074,AT&T Mobility,2021-11-25
107,92001496,Multi Carrier,2021-11-25 00:19:00,1,0,"T-Mobile USA, Inc",2021-11-25
...,...,...,...,...,...,...,...
1048545,92014033,Multi Carrier,2022-01-15 03:04:00,25187,10584,AT&T Mobility,2022-01-15
1048547,92005785,Multi Carrier,2022-01-15 03:01:00,25186,625019,AT&T Mobility,2022-01-15
1048553,92010219,Multi Carrier,2022-01-15 03:14:00,25186,1256793,AT&T Mobility,2022-01-15
1048556,92006010,Multi Carrier,2022-01-15 03:34:00,25186,660722,AT&T Mobility,2022-01-15
1048571,92005905,Multi Carrier,2022-01-15 03:20:00,25187,4704,AT&T Mobility,2022-01-15

In [28]:
groupby_name_timestamp.to_csv('data/holo_groupby_name_timestamp.csv')

In [29]:
df = pd.read_csv('data/holo_groupby_name_timestamp.csv')

date = df['session_begin_date'].value_counts()
date_size = date.size

delete = []
no_delete = []
date_list = []
count = 0

for _ in range(date_size):
    
    current_date = date.keys()[_]
    date_df = df.loc[df['session_begin_date'].isin([current_date])]

    sn = date_df['name'].value_counts()
    sn_size = sn.size

    for __ in range(sn_size):
        sn_count = sn[__]
        sn_var = sn.keys()[__]

        if sn_count == 1:
            delete.append(sn_var)
            date_list.append(current_date)
            df = df.loc[~((df['name'] == sn_var) & (df['session_begin_date'] == current_date)),:]
            #df = df.drop([df.index[_]])
            
        else:
            no_delete.append(sn_var)
            count+=1

ACA VAMOS A SACAR LA INFORMACION QUE DANIEL QUIERE

In [42]:
sn_list = []

sns = df['name'].value_counts()
sns_size = sns.size

for _ in range(sns_size):
    current_sn = sns.keys()[_]
    sn_list.append(current_sn)

In [43]:
timeline_df = pd.read_csv('data/holo.csv')

In [44]:
timeline_df = timeline_df.drop(['timestamp'], axis = 1)

timeline_df['session_begin'] = timeline_df['session_begin'].apply(pd.to_datetime)

timeline_df['session_begin'] = timeline_df['session_begin'].dt.date

In [45]:
timeline_df = timeline_df[timeline_df['name'].isin(sn_list)]

In [52]:
timeline_df_test = timeline_df.groupby(['name','session_begin', 'network_name'], as_index=False)['duration', 'bytes'].agg(['sum'])

C:\Users\imsoa\AppData\Local\Temp\ipykernel_25636\1568431975.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  timeline_df_test = timeline_df.groupby(['name','session_begin', 'network_name'], as_index=False)['duration', 'bytes'].agg(['sum'])

In [57]:
timeline_df_test.to_csv('Data/uwu.csv')

In [58]:
owo = pd.read_csv('Data/uwu.csv')

In [59]:
owo

      Unnamed: 0     Unnamed: 1         Unnamed: 2 duration    bytes
0            NaN            NaN                NaN      sum      sum
1           name  session_begin       network_name      NaN      NaN
2      92000270*     2021-11-25  T-Mobile USA, Inc    75559  3248383
3      92000270*     2021-11-26  T-Mobile USA, Inc   100746  3941319
4      92000270*     2021-11-27  T-Mobile USA, Inc    75560  3582955
...          ...            ...                ...      ...      ...
43264   92022815     2022-01-13      AT&T Mobility    75559    14112
43265   92022815     2022-01-14      AT&T Mobility    79929    15120
43266   92022815     2022-01-15      AT&T Mobility   100746    18816
43267   92022815     2022-01-16      AT&T Mobility    75559    14112
43268   92022815     2022-01-17      AT&T Mobility    50373     9408

[43269 rows x 5 columns]

In [84]:
curr_net = timeline_df.iloc[0]
curr_net = curr_net[0]
curr_net

'92001496'

In [86]:
all_sns = timeline_df['name'].value_counts()
sns_size = all_sns.size

help_net = []
help_cont = []
sum_duration_list = []

first_net = timeline_df.iloc[0]
first_net = first_net[-1]
help_net.append(first_net)

first_cont = timeline_df.iloc[0]
first_cont = first_cont[1]
help_cont.append(first_cont)


duration_list = timeline_df['duration'].values
sn_list = timeline_df['name'].values

for _ in range(sns_size):
    curr_net = timeline_df.iloc[_ + 1]
    curr_net = curr_net[-1]

    curr_cont = timeline_df.iloc[_ + 1]
    curr_cont = curr_cont[1]

    if curr_net == help_net[-1] and curr_cont == help_cont[-1]:
        sum_duration = duration_list[_ + 1] + duration_list[_]
        sum_duration_list.append(sum_duration)
        help_net.append(curr_net)
        help_cont.append(curr_cont)
        owo = timeline_df.drop([timeline_df.index[_]])
    else:
        help_net.append(curr_net)
        help_cont.append(curr_cont)

In [95]:
owo.drop(['duration'], axis=1)
owo['sum_duration'] = sum_duration_list

ValueError: Length of values (507) does not match length of index (255077)